# Development tools
.idea/
.vs/
.vscode/
*.code-workspace
inspect.lua

# Development files
*.lnk
*.pyc
__pycache__/
.pytest_cache/

# Application files
Builds/
*.cfg
Settings.xml

# Testing
luajit/
spec/test_results.log
spec/test_generation.log
src/luacov.stats.out

# Release
manifest-updated.xml

# GGPK Export
src/Export/ggpk/metadata/
src/Export/ggpk/data/
src/Export/ggpk/art/
src/Export/ggpk/*.exe
src/Export/ggpk/*.dll

#tree data
src/TreeData/**/*.scm
src/TreeData/**/*.txt
src/TreeData/**/*.bat
 
# PoB Trader
*_currency_values.json

# Timeless Jewels
src/Data/TimelessJewelData/*.bin

# Simplegraphic Debugging
runtime/imgui.ini
runtime-ko/imgui.ini
runtime-ko/


src/poe_api_response.json
stat-weight-reports/

# Local POE2 assistant scratch/output files
/work/*
!/work/README.md
work_*
